# Project exclude paths
/fileServer/target/
/HelloWordSpringMVC/target/
/MVCTest/target/
/mybatisTest/target/
/out/
/WheatEarRCS/target/
.idea/compiler.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/artifacts/fileServer_war.xml
.idea/artifacts/fileServer_war_exploded.xml
.idea/artifacts/HelloWordSpringMVC.xml
.idea/artifacts/HelloWordSpringMVC_war.xml
.idea/artifacts/HelloWordSpringMVC_war_exploded.xml
.idea/artifacts/MVCTest_war.xml
.idea/artifacts/MVCTest_war_exploded.xml
.idea/artifacts/SSMTest_war.xml
.idea/artifacts/SSMTest_war_exploded.xml
.idea/artifacts/WheatEarRCS_war.xml
.idea/artifacts/WheatEarRCS_war_exploded.xml
.idea/libraries/Maven__c3p0_c3p0_0_9_1_2.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_23.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_60.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_9.xml
.idea/libraries/Maven__com_sun_jersey_jersey_client_1_18_1.xml
.idea/libraries/Maven__com_sun_jersey_jersey_core_1_18_1.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_1.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__javax_servlet_jsp_jsp_api_2_0.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__jstl_jstl_1_2.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__log4j_log4j_1_2_12.xml
.idea/libraries/Maven__log4j_log4j_1_2_14.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_6.xml
.idea/libraries/Maven__org_apache_commons_commons_pool2_2_0.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_6_8.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_4_5.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_0.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_6.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_6_6.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_5_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_0_2_RELEASE.xml
.idea/libraries/Maven__redis_clients_jedis_2_6_0.xml
demo1/demo1.iml
demo1/demo2.iml
demo2/demo2.iml
demo2/.idea/misc.xml
demo2/.idea/modules.xml
demo2/.idea/workspace.xml
demo2/.idea/artifacts/demo2_war_exploded.xml
demo3/demo3.iml
demo4/demo4.iml
fileServer/fileServer.iml
HelloWord/HelloWord.iml
HelloWord/.idea/compiler.xml
HelloWord/.idea/description.html
HelloWord/.idea/encodings.xml
HelloWord/.idea/misc.xml
HelloWord/.idea/modules.xml
HelloWord/.idea/vcs.xml
HelloWord/.idea/workspace.xml
HelloWordSpringMVC/HelloWordSpringMVC.iml
MVCTest/MVCTest.iml
MyBatis/MyBatis.iml
mybatisTest/mybatisTest.iml
Test/Test.iml
testWeb/testWeb.iml
webSpingMvc/webSpingMvc.iml
WheatEarRCS/WheatEarRCS.iml
WheatEarRCS/.idea/misc.xml
WheatEarRCS/.idea/modules.xml
WheatEarRCS/.idea/WheatEarRCS.iml
WheatEarRCS/.idea/workspace.xml
