<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
    <!--开启注解扫描，希望扫描Service、Dao；Controller不需要Sping框架处理-->
    <context:component-scan base-package="com.itheima">
        <!--配置那些注解不扫描-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>

    </context:component-scan>


<!--    &lt;!&ndash; 自动扫描 加载service &ndash;&gt;-->
<!--    <context:component-scan base-package="com.itheima.service.*" />-->
    <!--Spring 整合MyBatis-->
    <context:property-placeholder location="classpath:db.properties" />
    <!--配置连接池-->
<!--    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
<!--        <property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
<!--        <property name="jdbcUrl" value="jdbc:mysql:///ssm?useUnicode=true&characterEncoding=utf-8"/>-->
<!--        <property name="user" value="root"/>-->
<!--        <property name="password" value="root"/>-->
<!--    </bean>-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <!--配置SQLSession工厂-->
    <bean  id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
<!--        &lt;!&ndash; 加载 mybatis 的全局配置文件 &ndash;&gt;-->
        <property name="configLocation" value="classpath:SqlMapConfig.xml" />

    </bean>

    <bean id="sqlSession" class ="org.mybatis.spring.SqlSessionTemplate">

        <constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
    </bean>

    <bean id ="baseDao" class="com.itheima.dao.impl.BaseDaoImpl">
        <property name="sqlSession" ref="sqlSession"></property>

    </bean>
    <!--配置AccountDao包-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="basePackage" value="com.itheima.dao"></property>
    </bean>

    <!--配置声明式事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
       <tx:attributes>
           <tx:method name="find*" read-only="true"/>
           <tx:method name="*" isolation="DEFAULT"></tx:method>
       </tx:attributes>
    </tx:advice>

    <!--配置AOP增强-->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.itheima.service.impl.*ServiceImpl.*(..))"/>


    </aop:config>
    <!-- 开启注解扫描 -->

    <!--
    支持AOP的注解支持，AOP底层使用代理技术
    JDK动态代理，要求必须有接口
    cglib代理，生成子类对象，proxy-target-class="true" 默认使用cglib的方式
-->
    <context:component-scan base-package="com.itheima.aop"/>
    <aop:aspectj-autoproxy />

    <bean id="myAspect" class="com.itheima.aop.LogAop">


    </bean>

</beans>
